body {
    font-size: 90%;
    background-color: #f5f5f5;
    margin: 1em auto;
}

* {
    font-family: 'Open Sans', sans-serif!important;
    outline: 0;
}

h1 {
    font-size: 230%;
    font-weight: 700;
    text-align: center;
    padding: 0.5em;
    line-height: 1.2;
}

a {
    color: #e37624;
}

@font-face {
    font-family: DigitalDream;
    src: url('../font/digitaldream.ttf');
}

#wrapper {
    padding: 30px 20px 25px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    width: 940px;
    margin: 0 auto;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#footer {
    margin: 1.5em auto 2em auto;
    width: 940px;
}

#board {
    background: url('../img/board.png') no-repeat center;
    min-height: 549px;
    padding-left: 2em;
    padding-top: 9px;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.big { font-size: 130%; }
.centered { text-align: center; }

#destinationTime *, #presentTime *, #lastTimeDeparted * {
    font-family: DigitalDream!important;
    font-size: 400%;
    line-height: 3.3;
    text-transform: uppercase;
    opacity: 0.8;
}

#destinationTime { color: #e37624; text-shadow: 0 0 1em #e37624; }
#presentTime { color: #a2ef6f; text-shadow: 0 0 1em #a2ef6f; }
#lastTimeDeparted { color: #edce71; text-shadow: 0 0 1em #edce71; }

#destinationTime .month { margin-left: 0.4em; }
#presentTime .month { margin-left: 0.2em; }

.day { margin-left: 0.8em; }
.year { margin-left: 0.95em; }
.hour { margin-left: 1.2em; }
.min { margin-left: 0.8em; }

#destinationTime .year { margin-left: 0.85em; }
#lastTimeDeparted .hour { margin-left: 1.3em; margin-right: -0.05em; }

h1#response {
    font-size: 600%;
    font-weight: 900;
    padding-top: 0.2em;
}